# Autoriser l'accès aux images uniquement
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Bloquer l'accès aux autres types de fichiers
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
